  <div class="container">
    <ng-container *ngFor="let character of characters; let i = index">
      <mat-card>
          <a mat-button (click)="sendCharacter(character)">
            <mat-card-content>
              <mat-card-title>{{character.name}}</mat-card-title>
              <img  src={{character.image}} alt="Image" style="max-width: 300px; max-height: 300px" >  
            </mat-card-content>
          </a>
      </mat-card> 
    </ng-container>
    <span #sentinel style="background-color: red; height: 100px; width: 100%"></span>
</div>
  